:root {
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --backlight-color: #188ce8;
    --main-text-color: #757575;
    --heading-color: #212121;
    --dark-background-text-color: #ffffff;
    --section-background-color: #2f303a;
    --logo-color: #000000;
    --footer-contacts-color: #ffffff99;
    --portfolio-buttons-backgrount-color: #f5f4fa;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  img {
    display: block;
    max-width:  100%;height: auto;
  }
   .container {
     width: 1200px ;
     padding: 0 15px ;
     margin: 0 auto ;
    }
    .header{padding:  25px 0;border: 1px solid #ECECEC;}
.header-container {display: flex;
align-items: center;}
  
  body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    letter-spacing: 0.03em;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .nav-link link{
    width: 49px;
    height: 16px;
    
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
    }
  .logo-link link{
    width: 1600px;
    height: 80px;
    
    
    background: #FFFFFF}
 
 .slide{
    width: 1600px;
    height: 600px;
    
    
    background: #2F303A;}  
 .hero-description {
width: 1600px;
height: 600px;
width: 696px;
height: 120px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;}

  .navigation{display: flex;
  align-items: center;}
  .contacts-list{display: flex;
  margin-left: auto;}
 li.contacts-item:not(:last-child){margin-right: 50px ;}
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .logo-web {
    color: var(--accent-color);
  }
  
  /*===header===*/
  
    
  .slide-container {background-image:  linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/backg.jpg');
    background-color: var(--section-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-hero-color);
    text-align: center;
    background-color: var(--section-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
  }
  
  .hero-description{
    margin: 0 auto 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dark-background-text-color)
  }
  .buttonly {
    min-width: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--dark-background-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
  }
  .buttonly:hover,
  .buttonly:focus {
    background-color: var(--backlight-color);
  }
 


  .logo-link {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .logo-studio {
    color: var(--logo-color);
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--heading-color);
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .mail-link:hover,
  .mail-link:focus,
  .tel-link:hover,
  .tel-link:focus {
    color: var(--accent-color);
  }
  
  .nav-item .link.current {
    color: var(--accent-color);
  }
  .nav-list{margin-left: 93px ;display: flex;}
  .nav-item{margin-right: 50px;}
  .mail-link,
  .tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  
  /*===header end===*/
  /*===hero studio===*/
  
  .hero {
    background-color: var(--section-background-color);
  }
  
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dark-background-text-color);
  }
  .modal-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--dark-background-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
  }
  
  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--backlight-color);
  }
  
  /*===hero studio end===*/
  
  /*===features studio===*/
  

  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  
  .features-item {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .features-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--accent-background-color);
    border-radius: 4px;
  
    margin-bottom: 30px;
  }


  .features-item-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--heading-color);
  }
  
  .features-item-text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
  }
  /*===features studio end===*/
  /* ===activity=== */
.activity {
  padding-top: 47px;
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.activity-list-item {
  margin-top: 30px;
  margin-left: 30px;
}

/* ===activity end=== */
 
  /*===team studio===*/

  .team-section {
    background-color: var(--accent-background-color)
    ;padding: 94px 0;
    background: #F5F4FA;
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .team-list-content {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--dark-background-text-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .team-member {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);border-radius: 0px 0px 4px 4px;

  }
  
  .activity-title,
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--heading-color);
  }
  
  .team-member-name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--heading-color);
  }
  
  .team-member-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }
  
  /*===team studio end===*/
 /*===portfolio filters===*/

.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-portfolio:not(:last-child) {
  margin-right: 8px;
}

.filter-buttons {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--heading-color);
  background-color: var(--accent-background-color);
  cursor: pointer;
}

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--dark-background-text-color);
  background-color: var(--accent-color);
}
/*===portfolio filters end===*/

  
  .filter-buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--heading-color);
    background-color: var(--portfolio-buttons-backgrount-color);
    cursor: pointer;
  }
  .buttony{width: 29px;
    height: 26px;font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;color: #FFFFFF;
    background: #2196F3;width: 73px;
    height: 38px;}
    .example-signature {
      padding: 20px 24px;
      border-bottom: 1px solid var(--accent-background-color);
      border-left: 1px solid var(--accent-background-color);
      border-right: 1px solid var(--accent-background-color);
    }
    
    .example-card { flex-basis: calc(100%/  3 - 30px);
      margin-top: 30px;
      margin-left: 30px;border: 1px solid #EEEEEE;
    display: block;}
    
  /*===portfolio filters end===*/
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
  
  .client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
  }
  
  .client-icon {
    fill: var(--icon-color);
  }
  .client-link:hover,
  .client-link:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
  
  .client-link:hover .client-icon,
  .client-link:focus .client-icon {
    fill: var(--accent-color);
  }
  /*===portfolio examples===*/

.examples-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.example-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-color);
}

.example-descr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.abbr {
  text-transform: uppercase;
}
.section{padding: 94px 0;}
/*===portfolio examples end===*/
  
  /*===footer===*/
  
  .footer {
    background-color: var(--section-background-color); padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo-studio-dark-background {
    color: var(--dark-background-text-color);
  }
  .footer .logo-link {
    margin-bottom: 20px;
  }
  .address-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  
  .address-link {
    color: var(--dark-background-text-color);
  }
  
  .address-mail-link,
  .address-tel-link {
    color: var(--footer-contacts-color);
  }
  
  .address-link:hover,
  .address-link:focus,
  .address-mail-link:hover,
  .address-mail-link:focus,
  .address-tel-link:hover,
  .address-tel-link:focus {
    color: var(--accent-color);
  }
  .address-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .address-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  
  .address-link {
    color: var(--dark-background-text-color);
  }
  
address {
  margin-top: 20px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--dark-background-text-color);
}

.social-icon {
  fill: var(--icon-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--dark-background-text-color);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-background-text-color);
  margin-bottom: 20px;
}
/* .footer .logo-link {
  margin-bottom: 20px;
}
  .address-mail-link,
  .address-tel-link {
    color: var(--footer-contacts-color);
  }
  
  .address-link:hover,
  .address-link:focus,
  .address-mail-link:hover,
  .address-mail-link:focus,
  .address-tel-link:hover,
  .address-tel-link:focus {
    color: var(--accent-color);
  }
  /*===footer end===*/